{% extends 'autofalante/base.html' %}  

{% block header %}
{% if user.is_authenticated %}
<h1 id="site-name"><a href="/autofalante/home">Autofalante!</a></h1>
{% else %}
<h1 id="site-name"><a href="/autofalante/">Autofalante!</a></h1>
{% endif %}
{% endblock %}

{% block content-main %}
{% if user.is_authenticated %}
<div class="app-auth module">
    <table>
        <caption>
        	Suas Playlists
        </caption>        
        <tbody>             
       	{% if created_playlists %}
    			{% for playlist in created_playlists %}
					<tr class="model-group"> 
				    	<th scope="row"><a href="{% url 'autofalante:detail' playlist_id=playlist.id load=1 %}">{{ playlist.playlist_title }}</a></th>
	      		    	<td></td>
	      		    </tr> 
			    {% endfor %}
		{% else %}
				<tr>
    				<th scope="row">Não há playlists</th>
    				<td></td>  
            	</tr>  
		{% endif %}                                       
       	</tbody>
    </table>
</div>

<div class="app-autofalante module">
	<table>
	    <caption>
	        Suas Músicas
	    </caption>
		<tbody>                     
		{% if songs %} 
			<tr class="model-group"> 
				<th scope="row">Título</th>
				<th scope="row">Artista</th>
				<th scope="row">Álbum</th>
			</tr>
			{% for musica in songs %}
	        	<tr>
	    			<td>{{ musica.song_title }}</td>
	    			<td>{{ musica.song_interpret }}</td>
	    			<td>{{ musica.song_album }}</td>
	    			<td><a href="{% url 'autofalante:sendCommand' playlist_id=0 musica_arduino_id=musica.arduino_id %}">Executar</a></td>
	    			<td><a href="{% url 'autofalante:sendLineHome' playlist_id=0 musica_arduino_id=musica.arduino_id %}">Por na Fila</a></td>
	    		</tr>
	   		{% endfor %}
		{% else %}
			<tr>
				<th scope="row">Não há músicas</th>
				<td></td>  
	      	</tr>  
		{% endif %}
	   	</tbody>
	</table>
</div>

{% else %}
<div class="app-auth module">
	<h1>Você não fez login</h1>
	<h2>Faça login <a href="{% url 'autofalante:login' %}">aqui</a></h2>	
</div>
{% endif %}      
{% endblock %}

{% block content-related %}
{% if user.is_authenticated%}
<div class="app-autofalante module">
	<table align="left">
		<caption>
			Comandos
		</caption>
		<col width=150>
		<col width=150>
		<col width=150>
		<tbody>
			<tr>
				<td><a href="{% url 'autofalante:sendCommand' playlist_id=0 musica_arduino_id=9999 %}">Próxima</a></td>
				<td><a href="{% url 'autofalante:sendCommand' playlist_id=0 musica_arduino_id=9998 %}">Anterior</a></td>
			</tr>
			<tr>
				<td><a href="{% url 'autofalante:sendCommand' playlist_id=0 musica_arduino_id=9997 %}">Volume +</a></td>
				<td><a href="{% url 'autofalante:sendCommand' playlist_id=0 musica_arduino_id=9996 %}">Volume -</a></td></tr>
			<tr>
				<td><a href="{% url 'autofalante:sendCommand' playlist_id=0 musica_arduino_id=9995 %}">Pause</a></td>
				<td><a href="{% url 'autofalante:sendCommand' playlist_id=0 musica_arduino_id=9994 %}">Play</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="app-autofalante module">
	<table align="left">
		<caption>
   			Indo embora?
		</caption>
		<col width="300">
		<tbody>
			<th>
				Faça logout <a href="{% url 'autofalante:logout' %}">aqui</a>
			</th>
		</tbody>
	</table>	
</div>
{% endif%}		    
{% endblock %}