{% extends 'autofalante/base.html' %}
  
{% block header %}<h1 id="site-name"><a href="/autofalante/">Autofalante!</a></h1>{% endblock %}

{% block content-main %}      
<div class="app-autofalante module">
    <table>
	    <caption>
    	    Suas Músicas
    	</caption>
		<tbody>                     
		{% if songs %} 
			<tr class="model-group"> 
				<th scope="row">Título</th>
				<th scope="row">Artista</th>
				<th scope="row">Álbum</th>
			</tr>
			{% for musica in songs %}
	       		<tr>
	    			<td>{{ musica.song_title }}</td>
	    			<td>{{ musica.song_interpret }}</td>
	    			<td>{{ musica.song_album }}</td>
	    			<td><a href="{% url 'autofalante:sendLineIndex' musica_arduino_id=musica.arduino_id %}">Por na Fila</a></td>
	   			</tr>
	   		{% endfor %}
		{% else %}
			<tr>
  				<th scope="row">Não há músicas</th>
   				<td></td>  
      		</tr>  
		{% endif %}
		</tbody>
  	</table>
</div>
{% endblock %}

{% block content-related %}		    
 <div class="app-autofalante module">
   	<table align="left">
   		<caption>
   			Mais recursos?
   		</caption>
   		<col width="300">
   		<tbody>
   			<th>
   				Faça login <a href="{% url 'autofalante:login' %}">aqui</a>
   			</th>
   		</tbody>
   	</table>	
</div>
{% endblock %}